# {{ ansible_managed }}
# Logwatch parameter overrides for daily report delivery to root

MailTo = {{ mailto }}
Detail = {{ logwatch_detail }}
Archive = {{ logwatch_archive }}
Range = yesterday
# Output format
Service = All
Format = html
